main {
    padding: 6rem 2rem;
    display: flex;
    width: 100%;
    min-height: 100vh;
    gap: 1.5rem;
    background: #f8fafc;
}

.side-bar-menu {
    min-width: 200px;
    height: fit-content;
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 1rem .8rem;
    width: 200px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.side-bar-menu h2 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #99a1af;
    margin-bottom: .6rem;
}

.side-bar-menu-item {
    display: grid;
    grid-template-columns: repeat(1, mimax(0, 1fr));
    gap: .5rem;
    align-items: flex-start;
}

.side-bar-menu-item button {
    width: 100%;
    gap: .6rem;
    font-size: 12px;
    font-weight: 600;
    color: #45556c;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    border-radius: 8px;
    padding: .6rem .8rem;
    transition: all .3s;
}

.side-bar-menu-item button:hover {
    background: #f8fafc;
}

.side-bar-menu-item button.active {
    color: #1447e6;
    border: 1px solid #e2e8f0;
    background: #eff6ff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
}

/// MAIN ///


// { Parte do perfil de cima }
.main-content {
    width: 100%;
}

.profile-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    padding: 1.5rem 2rem;
    background-image: linear-gradient(to right, #0f172b 10%, #162456 50%, #0f172b 90%);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
}

.profile-letter {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background: #155dfc;
    border: 2px solid oklch(70.7% 0.165 254.624);
}

.profile-content {
    display: flex;
    flex-direction: column;
}

.profile-content h1 {
    color: #eff6ff;
    font-size: 1.5rem;
}

.profile-content p {
    display: flex;
    gap: 6px;
    font-size: 11pt;
    color: #99a1af;
}

// { Parte das estatísticas do admin }

.estatistica-div {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.estatistica-box {
    padding: 1.2rem 1.4rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.05);
}

.estatistica-box h3 {
    font-size: 9pt;
    color: #99a1af;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .4rem;
}

.estatistica-box span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.estatistica-box h2 {
    font-size: 2.3rem;
    color: #0f172b;
}

.estatistica-icon {
    padding: 8px;
    border-radius: 8px;
}

// cor de cada icone
.icon-1 {
    background: #fff1f2;
    color: oklch(58.6% 0.253 17.585);
}
.icon-2 {
    background: #ecfdf5;
    color: oklch(59.6% 0.145 163.225);
}
.icon-3 {
    background: #eff6ff;
    color: #155dfc;
}
.icon-4 {
    background: oklch(98.7% 0.022 95.277);
    color: oklch(66.6% 0.179 58.318);
}

//// { Parte das turmas } 

// Adicionar turmas
.turmas-adicionar {
    display: block;
    background: #f8fafc;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #e2e8f0;
    padding: 1.2rem 1.4rem;
}
.turmas-adicionar p {
    font-size: 12px;
    color: #6a7282;
    font-weight: 600;
    margin-bottom: .6rem;
}
.turmas-formulario {
    display: flex;
    flex-direction: column;
}

.turmas-input-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1rem;
    margin-bottom: .5rem;
}
.turmas-inputs {
    display: flex;
    flex-direction: column;
}
.turmas-inputs label {
    font-size: 10px;
    color: #45556c;
    font-weight: 600;
    text-transform: uppercase;
}
.turmas-inputs input, .turmas-inputs select {
    width: 100%;
    font-size: 12px;
    border: 1px solid #d1d5dc;
    border-radius: 4px;
    padding: .6rem .8rem;
    &:focus {
        border: 1px solid oklch(62.3% 0.214 259.815);
    }
}
.turmas-formulario fieldset {
    border: none;
    display: flex;
    padding: .5rem 0;
    gap: .8rem;
    justify-content: end;
}
.button-form {
    border-radius: 4px;
    border: none;
    padding: .4rem .8rem;
}
.bt-1 {
    font-weight: 600;
    color: #45556c;
    background: #fff;
    border: 1px solid #d1d5dc;
}
.bt-2 {
    font-weight: 600;
    color: #fff;
    background: #155dfc;
}


// Lista de turmas
.turmas-conteiner {
    display: block;
    padding: 1.2rem 1.4rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.turmas-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.turmas-title h2 {
    color: #0f172b;
    font-size: 1.2rem;
}

.turmas-title p {
    color: #6a7282;
    font-size: .85rem;
}

.turmas-title button {
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
    color: #fff;
    background: #101828;
    cursor: pointer;
}

.turmas-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.turmas-box {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    transition: all .2s;

    &:hover {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid oklch(88.2% 0.059 254.128);
    }
}

.turmas-badge {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background: #eff6ff;
    color: #1447e6;
    padding: .4rem .8rem;
    border-radius: 4px;
}

.turmas-nome {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .4rem;
    color: #101828;
}

.turmas-info {
    display: flex;
    font-size: .875rem;
    color: #45556c;
    justify-content: space-between;
}
